@tailwind base;
@tailwind components;
@tailwind utilities;

.bestselling-button:hover {
    background-color: rgb(254 243 199);
}
.bestselling-button[disabled] {
    background-color: rgb(241 245 249);
}
.bestselling-button[disabled] svg {
    color: rgb(148 163 184);
}
.heart-button:hover svg {
    color: white;
}
.nav-tabs .nav-link.active {
    color: rgb(244 114 182);
    border-color: rgb(244 114 182);
}
.carousel-indicators button[data-bs-target] {
    background-color: #333333;
}